<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Zonas de Riesgos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<section>
  <ion-button expand="block" [routerLink]="['/asentamientos']">Asentamientos</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" [routerLink]="['/desplazamientos']">Desplazamientos</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" [routerLink]="['/fracturas']">Fracturas</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" [routerLink]="['/erupciones']">Erupciones</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" [routerLink]="['/inundaciones']">Inundaciones</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" [routerLink]="['/inviernos']">TEMP_INVIERNO</ion-button>
</section>
<br/>


<section>
  <ion-button
    class="ion-padding"
    color="light"
    expand="full"
    [routerLink]="['/home']"
    >Regresar</ion-button
  >
</section>

</ion-content>
