<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Nuevo Rio o Canal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Clave IGECEM</ion-label>
    <ion-input type="text" [(ngModel)]="rio.itemID" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="rio.nombre_municipio" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rio</ion-label>
    <ion-input type="text" [(ngModel)]="rio.rio" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Longitud</ion-label>
    <ion-input type="text" [(ngModel)]="rio.longitud" required></ion-input>
  </ion-item>

 

  <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="createRio(rio)"
    >Agregar</ion-button
  >
</ion-content>
