<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<section>
  <ion-button expand="block" (click)="irMunicipios()">Municipios</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irElevaciones()">Municipios por Elevación</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irRios()">Municipios por Rios o Canales</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irCuerpos()">Municipios por Cuerpo de Agua</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irMasPoblados()">Municipios más Poblados</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irMasExtensos()">Municipios más Extensos</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irMenosPoblados()">Municipios menos Extensos</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irIndustrializados()">Municipios más Industrializados</ion-button>
</section>
<br/>
<section>
  <ion-button expand="block" (click)="irRiesgos()">Zonas de Riesgo</ion-button>
</section>

</ion-content>
